<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 用户信息修改 -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:inline="javascript">

    function checkIdentity(identity) {
        var regIdNo = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        return regIdNo.test(identity);
    }

    function checkName(name) {
        var regName = /^[\u4e00-\u9fa5]{2,4}$/;
        return regName.test(name);
    }

    function checkPassWord(password) {//密码必须包含数字和字母
        var reg = new RegExp(/^(?![^a-zA-Z]+$)(?!\D+$)/);
        return reg.test(password);
    }

    function check() {
        if (!checkIdentity(document.getElementById('identity').value)) {
            alert("身份证非法!");
            return false;
        }
        if (!checkName(document.getElementById('name').value)) {
            alert("名字非法!");
            return false;
        }
        if (!checkPassWord(document.getElementById('password').value)) {
            alert("密码必须包含数字和字母");
            return false;
        }
        return true;
    }
</script>
<div th:if="${session.user}" th:object="${session.user}">
    <form method="post" action="/user/updateAdmin" id="update_data" th:action="@{user/updateAdmin}"
          onsubmit="return check()">
        <div>
            个人信息<br>
            <label>
                名&emsp;字:
                <input type="text" name="name" th:value="*{name}" required="required"><span
                    style="color:red">*</span><br>
            </label><br>
            <label>
                生&emsp;日:
                <input type="date" name="birthday" th:value="*{getFormatBirthday('yyyy-MM-dd')}"
                       required="required"><span style="color:red">*</span><br>
            </label><br>
            <label>
                身份证:
                <input type="text" name="identity" th:value="*{identity}" required="required"><span
                    style="color:red">*</span><br>
            </label><br>
        </div>
        <input type="submit" value="修改"><br>
    </form>
</div>
<span th:unless="${session.user}" th:text="非法访问"></span>
</form>
</body>
</html>