<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 添加书的页面 -->
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body th:fragment="addBook">

<form action="/book/addBook">
    <label>
        编&emsp;&emsp;号:<input type="text" name="isbn"><br>
    </label>
    <label>
        名&emsp;&emsp;字:<input type="text" name="name"><br>
    </label>
    <label>
        作&emsp;&emsp;者:<input type="text" name="author"><br>
    </label>
    <label>
        类&emsp;&emsp;型:<input type="text" name="type"><br>
    </label>
    <label>
        出版商家:<input type="text" name="publisher"><br>
    </label>
    <label>
        出版日期:<input type="date" name="publicationDate"><br>
    </label>
    <label>
        价&emsp;&emsp;格:<input type="text" name="price"><br>
    </label>
    <label>
        数&emsp;&emsp;目:<input type="text" name="number"><br>
    </label>
    <input type="submit" value="添加">
</form>
</body>
</html>