<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="navigation">
<script th:inline="javascript">

    function jump(url) {
        if (isEmpty([[${session.isOnline}]]))
            url = 'user/login';
        window.location.href = '/jump?url=' + url;
    }

    function jumpWithUsername(url) {
        if (isEmpty([[${session.isOnline}]]))
            jump('user/login');
        else
            window.location.href = '/jumpWithUsername?url=' + url + '&username=' + [[${session.user.username}]];
    }

    function isEmpty(obj) {
        return typeof obj == "undefined" || obj == null || obj === "" || obj === false;
    }
</script>
<input type="button" value="修改信息" onclick="jump('admin/adminModify')">
<input type="button" value="修改用户名" th:onclick="'javascript:jumpWithUsername(\'user/usernameModify\')'">
<input type="button" value="修改密码" onclick="jumpWithUsername('user/passwordModify')">
</body>
</html>