<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加管理员</title>
</head>
<body>
<form action="/user/addReader" method="post">
    用户名:<input name="username" type="text" required="required"><br>
    密&emsp;码:<input name="password" type="password" required="required"><br>
    名&emsp;字:<input name="name" type="text" required="required"><br>
    生&emsp;日:<input name="birthday" type="date" required="required" style="width:168px;height: 18px"><br>
    身份证:<input name="idenity" type="text" required="required"><br>
    <input type="submit" value="添加">
</form>
</body>
</html>