<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:inline="javascript">
    function submitWithUsername() {
        if (isEmpty(document.getElementById('password').value)) {
            alert("密码不能为空");
            return false;
        } else
            return true;
    }

    function isEmpty(obj) {
        if (typeof obj == "undefined" || obj == null || obj == "") {
            return true;
        } else {
            return false;
        }
    }
</script>
<body>
<form name="passwordForm" action="/user/passwordModify" method="post" onsubmit="return submitWithUsername()">
    新密码:<input id="password" type="password" name="password" required="required"/> <span style="color:red">*</span>
    <input id="username" type="password" hidden="hidden" name="username" th:value="${username}">
    <input type="submit" value="提交">
</form>
</body>
</html>