<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>

<form action="/user/addReader" method="post">
    用户名:<input name="username" type="text" required="required"><br>
    密&emsp;码:<input name="password" type="password" required="required"><br>
    名&emsp;字:<input name="name" type="text" required="required"><br>
    生&emsp;日:<input name="birthday" type="date" style="width:168px;height: 18px" required="required"><br>
    身份证:<input name="idenity" type="text" required="required"><br>
    院&emsp;系:<input name="department" type="text" required="required"><br>
    专&emsp;业:<input name="major" type="text" required="required"><br>
    年&emsp;级;<input name="grade" type="text" required="required"><br>
    <input type="submit" value="注册">
</form>
</body>
</html>